---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import About from "../components/About.vue";
import Services from "../components/Services.svelte";
import Contact from "../components/Contact.vue";
import Footer from "../components/Footer.svelte";
---

<Layout title="Dr. Ortopeda">
  <main>
    <Hero />
    <About />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>
